<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diploma</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script> 
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand ms-5" href="/">Бакалаврська кваліфікаційна робота</a>
      </div>
    </nav>
    
    
    <div class = "container">
      <p class="display-5 ms-5 mt-5">Рівняння</p>
    </div>
    <div class="row">

      <div class = "container col fs-4 ms-5">
        
        <p class="text-left  m-3"> \( \frac {\partial u}{\partial t} = 
          {{a}} \frac {\partial^2 u}{\partial x^2}\)
        </p>
        <p class="text-left m-3"> \( u(0, x) = {{init_boundary}}\) </p>
        <p class="text-left m-3">\( u(t, a) = {{left_boundary}}\) </p>
        <p class="text-left m-3"> \( u(t, b) = {{right_boundary}}\)  </p>


        <div class="ms-4">
          <p class="display-6 mt-5"> Обчислити</p>
          <form id = "calculation_form" method="POST" onkeydown="return event.key != 'Enter';">
           
            <div class="row">
              <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">T</span>
                <input type="text"  name="t" id="t_input" class="form-control" placeholder="T">
              </div>
              <div class="input-group mb-3 col">
                  <span class="input-group-text" id="basic-addon1">X</span>
                  <input type="text"  name="x" id="x_input" class="form-control" placeholder="X">
              </div>
              <div class="mb-3 row">
                  <p type="text" class="text-left m-1" id = "nn_value"> Значення з'явиться тут... </p>
              </div>
            </div>
            {% if error_presence %}
            <p class="text-justify text-danger">{{error_text}}</p>
            {% endif %}
  
            <button type="button" class="btn btn-primary" id = "calculation_form_button">Обчислити</button>
          </form>
        </div>
      </div>


      <div class="container col fs-4 ms-5">
        <p class="text-left  m-3"> MSE NN: {{error_nn["MSE"]}}</p>
        <p class="text-left  m-3"> MAE NN: {{error_nn["MAE"]}}</p>
        <p class="text-left  m-3"> MRAE NN: {{error_nn["MRAE"]}}</p>
        <p class="text-left  m-3"> MSE FDM: {{error_fdm["MSE"]}}</p>
        <p class="text-left  m-3"> MAE FDM: {{error_fdm["MAE"]}}</p>
        <p class="text-left  m-3"> MRAE FDM: {{error_fdm["MRAE"]}}</p>

      </div>
      
    </div>

    <div class="row">
      <img class = "col" src="{{url_for('static', filename='images/plot_nn60.png')}}" id="illustration_nn">
      <img class = "col" src="{{url_for('static', filename='images/plot_fdm60.png')}}" id="illustration_fdm">
      <img class = "col" src="{{url_for('static', filename='images/plot_sol60.png')}}" id="illustration_sol">
      <div class="text-center">
        <div class="d-grid gap-2 d-md-block">
          <button type="button" class="btn btn-primary" id = "toggle_left"><</button>
          <button type="button" class="btn btn-primary" id = "toggle_right">></button>
        </div>
      </div>
      <img src="{{url_for('static', filename='images/plot_loss.png')}}" id="illustration2">
    </div>

    </div>

    <script>
      document.getElementById("calculation_form_button").addEventListener("click", function () {
        var t_input = document.getElementById("t_input").value;
        var x_input = document.getElementById("x_input").value;

        var data = {
          "t_input": t_input,
          "x_input": x_input,
        };

        fetch("/process_data", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => response.text())
          .then((result) => {
            document.getElementById("nn_value").innerHTML = "Значення: " + result;
          })
          .catch((error) => {
            alert("Error occurred while processing data.");
            console.error("Error:", error);
          });
      });


      document.getElementById("toggle_right").addEventListener("click", function () {

          var illustrationNN = document.getElementById("illustration_nn");
          var illustrationFDM = document.getElementById("illustration_fdm");
          var illustrationSol = document.getElementById("illustration_sol");

          var imageUrlNN = illustrationNN.src;
          var imageUrlFDM = illustrationFDM.src;
          var imageUrlSol = illustrationSol.src;
          var number = parseInt(imageUrlNN.match(/(\d+)(?=\.png)/));

          var angleChange = 60
       
          if (number < (180-angleChange)) {
              number += angleChange;
              var newImageUrlNN = imageUrlNN.replace(/(\d+)(?=\.png)/, number);
              var newImageUrlFDM = imageUrlFDM.replace(/(\d+)(?=\.png)/, number);
              var newImageUrlSol = imageUrlSol.replace(/(\d+)(?=\.png)/, number);
              illustrationNN.setAttribute('src', newImageUrlNN);
              illustrationFDM.setAttribute('src', newImageUrlFDM);
              illustrationSol.setAttribute('src', newImageUrlSol);
          };
      });

      document.getElementById("toggle_left").addEventListener("click", function () {

          var illustrationNN = document.getElementById("illustration_nn");
          var illustrationFDM = document.getElementById("illustration_fdm");
          var illustrationSol = document.getElementById("illustration_sol");

          var imageUrlNN = illustrationNN.src;
          var imageUrlFDM = illustrationFDM.src;
          var imageUrlSol = illustrationSol.src;
          var number = parseInt(imageUrlNN.match(/(\d+)(?=\.png)/));

          var angleChange = 60
       
          if (number > angleChange) {
              number -= angleChange;
              var newImageUrlNN = imageUrlNN.replace(/(\d+)(?=\.png)/, number);
              var newImageUrlFDM = imageUrlFDM.replace(/(\d+)(?=\.png)/, number);
              var newImageUrlSol = imageUrlSol.replace(/(\d+)(?=\.png)/, number);
              illustrationNN.setAttribute('src', newImageUrlNN);
              illustrationFDM.setAttribute('src', newImageUrlFDM);
              illustrationSol.setAttribute('src', newImageUrlSol);
          };
      });


    </script>
  </body>
</html>
